<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" anonymous="optional" bindingName="{http://localhost/test_service/Service1.asmx}Test_serviceSoap12" definition="http://rapis02.aqa.com.ru/SOAP/Service1.asmx?WSDL" id="6d6ebab5-7c0f-4bb3-9956-6ccfe9f5bb5e" name="Test_serviceSoap12" soapVersion="1_2" type="wsdl" wsaVersion="NONE" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="6d6ebab5-7c0f-4bb3-9956-6ccfe9f5bb5efileName">Test_serviceSoap12</con:setting>
  </con:settings>
  <con:definitionCache/>
  <con:endpoints>
    <con:endpoint>http://rapis02.aqa.com.ru/SOAP/Service1.asmx</con:endpoint>
  </con:endpoints>
</con:interface>
