<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a228bd7a-00e5-40d1-b8d8-f387cd0c45f7" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a228bd7a-00e5-40d1-b8d8-f387cd0c45f7fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
